

# Optional: ignore common ML artifacts

*.pt
*.pth
*.h5
*.ckpt
*.bin
*.keras

# Python cache

**pycache**/
*.pyc

# Environment files

.env
venv/
.env/
.env.*
*.env


logs/
*.log
airflow.db
airflow-webserver.pid

